body {
    width:1024px;
    padding:20px 40px;
    background-color:#fff;
    font-size:14px;
    font-family:Verdana;
}
span.input_label {
    width: 100px;
    font-weight: bold;
    display: inline-block;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  #sentence {
    margin-top: 20px;
    padding: 10px 14px;
  }
  span.reset {
    margin-left: 20px;
    vertical-align: bottom;
    display: inline-block;
    cursor: pointer;
    text-decoration: underline;
  }